extends layout 

block content 
    h1= title

    p  #{genre.name}

    h3 Books of this genre within the library:

    ul  
        each book in genre_books 

        li 
            a(href=book.url) #{book.title}  
        
        else 
            p No books of this genre
